<div class="container">
  <h1>
    {{title}} Game Interface:
  </h1>
  <form class="form-group" [formGroup]="turnInput">
    <div>
      <div>
        <input formControlName="throw1Var" type="text" placeholder="Throw 1">
      </div>
      <!--warning block-->
      <span class="alert-danger">
        <span *ngIf="(turnInput.get('throw1Var').hasError('firstCharInv'))">
          Each Input must begin with a number or multiplier character.
        </span>
        <span *ngIf="(turnInput.get('throw1Var').hasError('invChar'))">
          Input contains invalid characters.
        </span>
        <span *ngIf="(turnInput.get('throw1Var').hasError('invRange'))">
          Inputted numbers must be within the allowed range.
        </span>
        <span *ngIf="(!turnInput.get('throw1Var').valid)">
          Please see the input guide for more information on allowed inputs
        </span>
        <!--end of warning block-->


      </span>
      <div>
        <input formControlName="throw2Var" id="throw2Var" type="text" placeholder="Throw 2">
      </div>

      <div>
        <input formControlName="throw3Var" id="throw3Var" type="text" placeholder="Throw 3">
      </div>

      <div>
        <button
          type="submit"
          [disabled]="!turnInput.valid">End Turn
        </button>
      </div>
    </div>
  </form>
</div>
