<div class="container">
  <h1>
    {{title}} Game Interface:
  </h1>
  <form class="form-group" [formGroup]="turnInput">
    <div>
      <div>
        <input formControlName="throw1Var" type="text" placeholder="Throw 1">
      </div>

      <div>
        <input formControlName="throw2Var" id="throw2Var" type="text" placeholder="Throw 2">
      </div>

      <div>
        <input formControlName="throw3Var" id="throw3Var" type="text" placeholder="Throw 3">
      </div>

      <div>
        <button type="submit">End Turn</button>
      </div>
    </div>
  </form>
</div>
